*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.nav{
   background-color: red;
   padding: 18px;
}

.section1{
    background-color: salmon;
    display: inline-block;
    width: 650px;
    height: 300px;
}

.section2{
    background-color: rgb(68, 0, 255);
    display: inline-block;
    width: 650px;
    height: 300px;
}